/* =========================
   PREMIUM LOGO
========================= */

.pulse-logo{
  display:flex;
  align-items:center;
  gap:6px;

  padding:8px 10px;

  position:relative;

  margin-top: -10px;
}

/* =========================
   TEXT
========================= */

.pulse-logo h1{

  font-size:20px;
  font-weight:800;

  letter-spacing:-1.4px;

  background:
  linear-gradient(
    180deg,
    #ffe6a3 0%,
    #ffcc55 30%,
    #ffb326 65%,
    #ff9500 100%
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  text-shadow:
  0 0 8px rgba(255,179,38,0.45),
  0 0 22px rgba(255,140,0,0.28);

  position:relative;
}



/* =========================
   SVG
========================= */

.pulse-svg{
  width:52px;
  height:52px;

  overflow:visible;

  filter:
  drop-shadow(0 0 10px rgba(255,179,38,0.45))
  drop-shadow(0 0 22px rgba(255,140,0,0.25));
}

/* =========================
   ECG LINE
========================= */

.pulse-svg path{

  stroke:url(#goldGradient);

  stroke-width:6;

  stroke-linecap:round;
  stroke-linejoin:round;

  filter:
  drop-shadow(0 0 6px #ffcc55)
  drop-shadow(0 0 16px rgba(255,179,38,0.8));
}




























body{
  margin:0px;
  
  font-family:Arial, Helvetica, sans-serif;
}

.pulse-page{
  width:210px;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  

  background:#050505;

  border-right:
  1px solid rgba(255,180,60,0.08);
}

/* LOGO */

.pulse-logo{
  display:flex;
  align-items:center;
  gap:4px;

  padding:14px 18px;
  margin-top: 2px;

  border-bottom:
  1px solid rgba(255,180,60,0.06);
}

.pulse-svg{
  width:48px;
  height:48px;
}

.pulse-svg path{
  stroke:url(#goldGradient);

  stroke-width:5;

  stroke-linecap:round;
  stroke-linejoin:round;

  filter:
  drop-shadow(0 0 10px rgba(255,180,40,0.55));
}

.pulse-logo h1{
  color:#ffbf3c;

  font-size:24px;
  font-weight:700;

  margin:0;
}

/* MENU */

.pulse-menu{
  padding:4px 6px;
  flex: 1;
}

/* BUTTON */

.menu-item{
  width:100%;

  height:20px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 16px;

  background:transparent;

  border:none;

  border-radius:22px;

  cursor:pointer;

  margin-bottom:4px;

  transition:0.3s;
  
}

/* LEFT SIDE */

.menu-left{
  display:flex;
  align-items:center;
  gap:12px;
}

/* ICON */

.menu-item svg{
  width:16px;
  height:16px;

  stroke:#f5f5f5;
  stroke-width:2;
}

/* TEXT */

.menu-text{
  color:white;

  font-size:12px;
  font-weight:600;
}

/* ACTIVE */

.active{
  background:
  linear-gradient(
  90deg,
  rgba(255,180,40,0.18),
  rgba(255,180,40,0.05)
  );
}

.active svg{
  stroke:#ffbf3c;
}

.active .menu-text{
  color:white;
}

/* GOLD BAR */

.active::after{
  content:"";

  width:6px;
  height:17px;

  border-radius:20px;

  background:#ffbf3c;

  box-shadow:
  0 0 15px rgba(255,190,60,0.8);
}

/* PULSE */

.pulse-active .pulse-text{
  color:#ffbf3c;
}

.pulse-gold-icon{
  stroke:#ffbf3c !important;
}

/* NEW BADGE */

.new-badge{
  background:
  rgba(255,180,40,0.08);

  border:
  1px solid rgba(255,180,40,0.15);

  color:#ffbf3c;

  font-size:9px;
  font-weight:700;

  padding:6px 14px;

  border-radius:999px;
}

/* DIVIDER */

.menu-divider{
  height:1px;

  background:
  rgba(255,255,255,0.04);

  margin:2px 0 10px;
}

/* NOTIFICATION COUNT */

.notify-count{
  width:20px;
  height:20px;

  border-radius:50%;

  background:#ffbf3c;

  color:black;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:10px;
  font-weight:700;

  box-shadow:
  0 0 15px rgba(255,190,40,0.5);
}






















/* BOTTOM CARD */

.pulse-bottom-card{
  margin:8px 0px 0;

  border-radius:0px;
  min-height: 260px;
  height: 3px;

  padding:16px;

  position:relative;

  overflow:hidden;

  background:
  linear-gradient(
  180deg,
  rgba(10,10,10,0.98),
  rgba(3,3,3,0.98)
  );

  border:
  1px solid rgba(255,180,40,0.08);
}

/* TOP */

.pulse-score-top{
  display:flex;
  align-items:center;
  gap:18px;

  margin-bottom:6px;
}

/* ICON */

.score-icon{
  width:18px;
  height:18px;

  border-radius:30%;

  border:
  2px solid rgba(255,190,50,0.65);

  display:flex;
  align-items:center;
  justify-content:center;

  box-shadow:
  0 0 18px rgba(255,180,40,0.15);
}

.small-pulse-svg{
  width:26px;
  height:26px;
}

.small-pulse-svg path{
  stroke:url(#smallGoldGradient);

  stroke-width:5;

  stroke-linecap:round;
  stroke-linejoin:round;

  filter:
  drop-shadow(0 0 8px rgba(255,180,40,0.6));
}

/* SCORE */

.pulse-score-top h2{
  color:#ffbf3c;

  font-size:14px;
  font-weight:800;

  margin:-16px;
}

.score-row{
  display:flex;
  align-items:center;
  gap:10px;

  margin-top:18px;
}

.score-row span{
  color:#d7d7d7;

  font-size:12px;
  
}

.score-row p{
  margin:0;

  color:#19d36b;

  font-size:10px;
  font-weight:700;
}

/* STATS */

.pulse-stats{
  border-top:
  1px solid rgba(255,255,255,0.05);

  border-bottom:
  1px solid rgba(255,255,255,0.05);

  padding:-6pxpx 0;

  margin-bottom:14px;
}

.stat-row{
  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:4px 0;

  color:#d8d8d8;

  font-size:10px;
}

.stat-row strong{
  color:#ffbf3c;
}

.green{
  color:#19d36b !important;
}

/* BUTTON */

.reward-btn{
  width:100%;

  height:25px;

  border:none;

  border-radius:16px;

  background:
  linear-gradient(
  180deg,
  rgba(70,45,10,0.95),
  rgba(45,28,6,0.98)
  );

  color:#ffcf65;

  font-size:10px;
  font-weight:700;

  cursor:pointer;

  position:relative;
  z-index:2;

  border:
  1px solid rgba(255,190,40,0.15);
}

/* EARTH GLOW */

.earth-glow{
  position:absolute;

  left:-30%;
  bottom:-170px;

  width:420px;
  height:600px;

  border-radius:50%;

  background:
  radial-gradient(
  circle,
  rgba(242, 166, 25, 0.45),
  rgba(238, 165, 29, 0.12),
  transparent 70%);

  filter:blur(20px);
}




































.earth-wrapper{
  position:absolute;

  left:0;
  bottom:0;

  width:100%;
  height:150px;

  overflow:hidden;

  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

.earth-image{
  position:absolute;

  left:50%;
  margin-top: -6px;

  transform:translateX(-50%);

  width:150%;

  opacity:0.96;

  filter:
  drop-shadow(
  0 0 30px rgba(255,180,40,0.95)
  );
}

































































/* =========================
   RIGHT SIDE
========================= */

.right-side{
  position:absolute;

  top:0;
  right:0;

  width:calc(100% - 240px);

  padding:10px 18px;

  z-index:5;
}

/* =========================
   RIGHT TOP BAR
========================= */

.right-top-bar{
  width:100%;

  display:flex;
  align-items:center;
  justify-content:flex-end;

  gap:8px;

  margin-top:-4px;
}

/* =========================
   BELL BUTTON
========================= */

.top-notify-btn{
  width:32px;
  height:32px;

  border-radius:40%;

  border:
  1px solid rgba(255,255,255,0.08);

  background:
  rgba(8,8,8,0.95);

  display:flex;
  align-items:center;
  justify-content:center;

  cursor:pointer;

  transition:0.3s;
}

.top-notify-btn:hover{
  border:
  1px solid rgba(255,190,40,0.3);

  box-shadow:
  0 0 20px rgba(255,190,40,0.12);
}

.top-notify-btn svg{
  width:24px;
  height:24px;

  stroke:white;
}

/* =========================
   CREATE POST BUTTON
========================= */

.create-post-btn{
  height:36px;

  padding:0 12px;

  border:none;

  border-radius:20px;

  background:
  linear-gradient(
  180deg,
  #ffd34d 0%,
  #ffbe1a 55%,
  #f0a500 100%
  );

  color:#111;

  font-size:12px;
  font-weight:700;

  display:flex;
  align-items:center;

  gap:2px;

  cursor:pointer;

  box-shadow:
  0 0 25px rgba(255,190,40,0.28);

  transition:0.3s;
}

.create-post-btn:hover{
  transform:translateY(-2px);

  box-shadow:
  0 0 30px rgba(255,190,40,0.4);
}

.create-post-btn span:first-child{
  font-size:20px;
  font-weight:500;

  margin-top:-4px;
}

/* =========================
   PROFILE
========================= */

.top-profile{
  position:relative;

  width:30px;
  height:30px;
  font-size: 12px;
  position: relative;
  top: -4px;
}

.top-profile img{
  width:100%;
  height:100%;

  border-radius:50%;

  object-fit:cover;

  border:
  2px solid rgba(255,255,255,0.08);
}

/* =========================
   ONLINE DOT
========================= */

.online-dot{
  position:absolute;

  right:-10px;
  bottom:-6px;

  width:10px;
  height:10px;

  border-radius:50%;

  background:#16d96f;

  border:
  2px solid #050505;

  box-shadow:
  0 0 12px rgba(22,217,111,0.7);
}


















































/* =========================
   MARKET CARD
========================= */

.market-card{
  width:160px;

  margin-top:4px;
  margin-left: auto;
  margin-right: -10px;

  background:
  linear-gradient(
  180deg,
  rgba(10,10,10,0.96),
  rgba(4,4,4,0.98)
  );

  border:
  1px solid rgba(255,255,255,0.05);

  border-radius:14px;

  padding:18px;

 box-shadow:
0 0 0 1px rgba(255,210,90,0.18),
0 0 12px rgba(255,190,40,0.10),
0 0 30px rgba(255,170,20,0.12),
0 0 70px rgba(255,140,0,0.08),
inset 0 0 18px rgba(255,190,40,0.03);
}

/* HEADER */

.market-header{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:10px;
}

.market-header h2{
  color:white;

  font-size:10px;
  font-weight:700;

  margin:-10px;
  margin-bottom: 10px;
}

.market-header span{
  color:#ffbf3c;

  font-size:10px;
  font-weight:600;
  margin-top: -20px;

  cursor:pointer;
}

/* ROW */

.coin-row{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:-10px;
}

/* LEFT */

.coin-left{
  display:flex;
  align-items:center;

  gap:-6px;
}

.coin-left img{
  width:22px;
  height:22px;

  border-radius:40%;

  object-fit:cover;
  margin-bottom: 14px;
}

.coin-left h3{
  color:white;

  font-size:12px;
  font-weight:700;

  margin:-4px;
}

.coin-left p{
  color:#7e7e7e;

  font-size:11px;

  margin-top:4px;
}

/* RIGHT */

.coin-right{
  text-align:right;
}

.coin-right h4{
  color:white;

  font-size:10px;
  font-weight:700;

  margin:0 0 16px;
}

.coin-right span{
  color:#12d66a;

  font-size:10px;
  font-weight:700;
  display: block;
  margin-top: -16px;
}

































/* =========================
   TRENDING CARD
========================= */

.trending-card{
  width:160px;

  margin-top:4px;

  margin-left:auto;

  margin-right:-12px;

  position:relative;
  height: 24vh;

  background:
  linear-gradient(
  180deg,
  rgba(10,10,10,0.96),
  rgba(4,4,4,0.98)
  );

  border:
  1px solid rgba(255,255,255,0.05);

  border-radius:18px;

  padding:20px;

  overflow:hidden;

  box-shadow:
0 0 0 1px rgba(255,210,90,0.18),
0 0 12px rgba(255,190,40,0.10),
0 0 30px rgba(255,170,20,0.12),
0 0 70px rgba(255,140,0,0.08),
inset 0 0 18px rgba(255,190,40,0.03);
}

/* HEADER */

.trending-header{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:8px;
}

.trending-header h2{
  color:white;

  font-size:10px;
  font-weight:700;

  margin:0;
  margin-top: -14px;
  
}

.trending-header span{
  color:#ffbf3c;

  font-size:10px;
  font-weight:600;

  margin-top: -14px;
}

/* ROW */

.trend-row{
  display:flex;
  align-items:center;

  gap:4px;

  margin-bottom:6px;
}

/* ICON */

.trend-icon{
  font-size:14px;
  margin-top: -24px;
}

/* CONTENT */

.trend-content h3{
  color:white;

  font-size:10px;
  font-weight:700;

  margin:0 0 6px;
}

.trend-content p{
  color:#777;

  font-size:10px;

  margin:0;
}










































/* =========================
   CREATOR CARD
========================= */

.creator-card{
  width:150px;

  margin-top:4px;

  margin-left:auto;

  margin-right:-12px;

  height: 22vh;

  position:relative;

  background:
  linear-gradient(
  180deg,
  rgba(10,10,10,0.96),
  rgba(4,4,4,0.98)
  );

  border:
  1px solid rgba(255,255,255,0.05);

  border-radius:18px;

  padding:24px;

  overflow:hidden;

  box-shadow:
0 0 0 1px rgba(255,210,90,0.18),
0 0 12px rgba(255,190,40,0.10),
0 0 30px rgba(255,170,20,0.12),
0 0 70px rgba(255,140,0,0.08),
inset 0 0 18px rgba(255,190,40,0.03);
}

/* HEADER */

.creator-header{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:2px;
}

.creator-header h2{
  color:white;

  font-size:10px;
  font-weight:700;
margin-top: -16px;

}

.creator-header span{
  color:#ffbf3c;

  font-size:10px;
  font-weight:600;
  margin-top: -22px;
}

/* ROW */

.creator-row{
  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:4px;
}

/* LEFT */

.creator-left{
  display:flex;
  align-items:center;

  gap:6px;
  margin-top: -8px;
}

/* IMAGE */

.creator-left img{
  width:18px;
  height:18px;
  margin-bottom: 30px;

  border-radius:50%;

  object-fit:cover;

  border:
  2px solid rgba(255,190,40,0.25);

  box-shadow:
  0 0 20px rgba(255,180,40,0.10);
}

/* TEXT */

.creator-left h3{
  color:white;

  font-size:11px;
  font-weight:700;

  margin:0 0 24px;
  
}

.creator-left p{
  color:#6f6f6f;

  font-size:8px;

  top: -20px;

position: relative;
  
}

/* FOLLOW BUTTON */

.follow-btn{
  width:50px;
  height:20px;
  margin-left: auto;
  transform: translateX(5px);

  border-radius:18px;

  border:
  1px solid rgba(255,190,40,0.18);

  background:
  linear-gradient(
  180deg,
  rgba(40,28,8,0.96),
  rgba(20,14,4,0.98)
  );

  color:#ffbf3c;

  font-size:10px;
  font-weight:700;
  margin-bottom: 36px;

  cursor:pointer;

  transition:0.3s;

  box-shadow:
  0 0 16px rgba(255,180,40,0.06);
}

.follow-btn:hover{
  transform:translateY(-2px);

  box-shadow:
  0 0 20px rgba(255,180,40,0.15);
}