.profile-page *{
  box-sizing:border-box;
}



/* MAIN PAGE */

.profile-page{
  width:100%;
  max-width:1500px;

  margin:auto;

  min-height:100vh;

  padding:6px;

  overflow-x:hidden;

  background:
  radial-gradient(circle at center,
  rgba(255,140,0,0.15) 0%,
  rgba(20,8,0,0.85) 40%,
  #050505 75%,
  #000 100%);
}

/* TOP HEADER */

.top-header{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;

  margin-bottom:10px;
}

.profile-title{
  font-size:24px;
  color:hsl(39, 90%, 69%);
  margin-top: 0;
  padding-top: 0;
  line-height: 1;

  font-family:"Times New Roman", serif;

  text-shadow:
  0 0 10px rgba(255,170,0,0.35);
}

.title-line{
  width:75px;
  height:3px;

  margin-top:-10px;

  background:linear-gradient(
  to right,
  #ffb347,
  #fff2a0,
  transparent);

  box-shadow:
  0 0 15px rgba(255,170,0,0.45);
}

/* BUTTONS */

.back-btn,
.edit-btn,
.follow-btn,
.gold-btn{

  border:1px solid rgba(255,180,70,0.6);

  background:rgba(255,140,0,0.06);

  color:#ffd27a;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

  cursor:pointer;

  transition:0.3s;
}

.back-btn:hover,
.edit-btn:hover,
.follow-btn:hover,
.gold-btn:hover{

  transform:translateY(-2px);

  box-shadow:
  0 0 20px rgba(255,170,0,0.35);
}

.back-btn{
  padding:6px 14px;
  border-radius:10px;
  font-size:12px;
}

/* GLOW BOX */

.glow-box{

  border:1px solid rgba(255,170,0,0.45);

  background:
  linear-gradient(
  135deg,
  rgba(15,15,15,0.96),
  rgba(5,5,5,0.92));

  box-shadow:
  0 0 12px rgba(255,140,0,0.18),
  0 0 35px rgba(255,120,0,0.08),
  inset 0 0 20px rgba(255,140,0,0.03);

  backdrop-filter:blur(8px);
}

/* PROFILE CARD */

.profile-card{

  width:100%;

  border-radius:16px;

  padding:6px 10px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  gap:6px;

  overflow:hidden;
}

.profile-left{
  display:flex;
  align-items:center;
  gap:30px;
}

/* PROFILE IMAGE */

.avatar-ring{

  width:85px;
  height:85px;

  border-radius:50%;

  padding:4px;

  background:linear-gradient(
  135deg,
  #ffb347,
  #ff7b00,
  #ffe29a);

  box-shadow:
  0 0 25px rgba(255,170,0,0.45),
  0 0 50px rgba(255,120,0,0.18);
}

.avatar{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
}

/* PROFILE INFO */

.profile-info h2{

  font-size:18px;

  color:#f8f8f8;

  text-shadow:
  0 0 10px rgba(255,180,70,0.35);
}

.name-row{
  display:flex;
  align-items:center;
  gap:10px;
}

.verify-icon{
  color:#ffbf47;
}

.wallet-row,
.joined-row{

  margin-top:6px;

  display:flex;
  align-items:center;
  gap:6px;

  color:#c9c9c9;

  font-size:13px;
}

.edit-btn{

  margin-top:14px;

  padding:8px 18px;

  border-radius:14px;

  font-size:13px;
}

/* STATS */

.profile-stats{

  display:flex;
  align-items:center;

  gap:12px;
}

.stat-box{

  text-align:center;

  padding:0 12px;

  border-left:
  1px solid rgba(255,170,0,0.2);
}

.stat-box svg{
  color:#ffbf47;
}

.stat-box h3{

  font-size:24px;

  margin-top:10px;
}

.stat-box p{

  margin-top:4px;

  font-size:13px;

  color:#c9c9c9;
}

.follow-btn{

  padding:8px 16px;

  border-radius:16px;

  font-size:13px;
}

/* GRID */

.middle-grid{

  width:100%;

  margin-top:6px;

  display:grid;

  grid-template-columns:
  repeat(3,minmax(0,1fr));

  gap:6px;
}

/* SMALL CARD */

.small-card{

  width:100%;

  min-height:72px;

  border-radius:12px;

  padding:5px 7px;

  overflow:hidden;
}

.card-head{

  display:flex;
  align-items:center;

  gap:5px;
}

.icon-circle{

  width:24px;
  height:24px;

  border-radius:40%;

  border:1px solid rgba(255,180,70,0.5);

  display:flex;
  align-items:center;
  justify-content:center;

  color:#ffbf47;

  box-shadow:
  0 0 18px rgba(255,170,0,0.25);
}

.card-head h3{

  font-size:11px;

  color:#ffd27a;

  font-family:"Times New Roman", serif;
}

.small-card p{

  margin-top:2px;

  color:#bdbdbd;

  font-size:10px;

  line-height:1.1;
}

.gold-btn{

  margin-top:4px;

  padding:3px 8px;

  border-radius:8px;

  font-size:9px;
}

/* REFERRAL */

.referral-box,
.social-link{

  margin-top:4px;

  border:1px solid rgba(255,170,0,0.4);

  border-radius:8px;

  padding:5px 7px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(255,140,0,0.03);
}

.referral-box span,
.social-link span{

  font-size:11px;
}

/* ACTIVITY */

.activity-card{

  width:100%;

  margin-top:6px;

  border-radius:14px;

  padding:6px 8px;

  overflow:hidden;
}

.activity-top{

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:10px;
}

.activity-top h2{

  font-size:18px;

  color:#ffd27a;

  font-family:"Times New Roman", serif;
}

.activity-top span{

  font-size:14px;

  color:#ffbf47;
}

/* NEW ACTIVITY SYSTEM */

.activity-summary{

  display:flex;
  justify-content:space-between;
  align-items:center;

  cursor:pointer;
}

.activity-left{

  display:flex;
  align-items:center;
  gap:14px;
}

.activity-bell{

  width:52px;
  height:52px;

  border-radius:16px;

  display:flex;
  align-items:center;
  justify-content:center;

  background:
  rgba(255,180,0,.08);

  color:#ffbf47;

  border:
  1px solid rgba(255,180,0,.25);
}

.activity-left h3{

  color:#ffd27a;

  font-size:18px;
}

.activity-left p{

  color:#bdbdbd;

  font-size:13px;

  margin-top:4px;
}

.activity-badge{

  min-width:32px;
  height:32px;

  padding:0 10px;

  border-radius:30px;

  display:flex;
  align-items:center;
  justify-content:center;

  background:#ff9100;

  color:black;

  font-weight:bold;
}

/* POPUP */

.activity-modal{

  position:fixed;
  inset:0;

  background:rgba(0,0,0,.7);

  backdrop-filter:blur(8px);

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:9999;
}

.activity-popup{

  width:420px;

  max-height:500px;

  overflow-y:auto;

  background:#111;

  border:
  1px solid rgba(255,180,0,.35);

  border-radius:24px;

  padding:24px;
}

.popup-top{

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:20px;
}

.popup-top h2{

  color:#ffd27a;
}

.popup-top button{

  border:none;

  background:#1d1d1d;

  color:#fff;

  padding:10px 16px;

  border-radius:12px;

  cursor:pointer;
}

.popup-activities{

  display:flex;
  flex-direction:column;

  gap:12px;
}

.popup-activity-item{

  display:flex;
  align-items:center;

  gap:14px;

  padding:14px;

  border-radius:16px;

  background:
  rgba(255,180,0,.05);

  border:
  1px solid rgba(255,180,0,.15);

  color:#f5f5f5;
}

.popup-activity-item h4{

  font-size:14px;
}

.popup-activity-item p{

  font-size:12px;

  color:#bdbdbd;

  margin-top:3px;
}









































/* MAIN WRAPPER */

.profile-page{
  width:100%;
  min-height:100vh;
  padding:12px;
  overflow-x:hidden;
  box-sizing:border-box;
}

/* TOP CARD */

.profile-card{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:18px;
  flex-wrap:wrap;
}

/* LEFT */

.profile-left{
  display:flex;
  align-items:center;
  gap:20px;
  flex:1;
  min-width:280px;
}

/* RIGHT STATS */

.profile-stats{
  display:flex;
  gap:30px;
  align-items:center;
  flex-wrap:wrap;
}

/* GRID */

.middle-grid{
  width:100%;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

/* RECENT ACTIVITY */

.activity-item{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;
  flex-wrap:wrap;
}

/* TABLET */

@media(max-width:992px){

  .middle-grid{
    grid-template-columns:1fr 1fr;
  }

  .profile-card{
    flex-direction:column;
    align-items:flex-start;
  }

  .profile-stats{
    width:100%;
    justify-content:space-between;
  }

}

/* MOBILE */

@media(max-width:768px){

  .profile-page{
    padding:12px;
  }

  .profile-left{
    flex-direction:column;
    text-align:center;
    align-items:center;
  }

  .profile-stats{
    width:100%;
    justify-content:center;
  }

  .middle-grid{
    grid-template-columns:1fr;
  }

  .activity-item{
    flex-direction:column;
    align-items:flex-start;
  }

  .profile-name{
    font-size:26px;
  }

  .stat-box h2{
    font-size:38px;
  }

}




































.edit-popup{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,0.75);

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:999;
}

.edit-box{

  width:400px;

  background:#0b0b0b;

  border:1px solid rgba(255,180,70,0.4);

  border-radius:24px;

  padding:28px;

  box-shadow:
  0 0 25px rgba(255,170,0,0.2);
}

.edit-box h2{

  color:#ffcc66;

  margin-bottom:20px;
}

.edit-box input{

  width:100%;

  height:52px;

  margin-bottom:15px;

  background:#111;

  border:1px solid rgba(255,180,70,0.25);

  border-radius:14px;

  padding:0 15px;

  color:white;

  font-size:15px;
}

.popup-buttons{
  display:flex;
  gap:12px;
}

.save-btn,
.cancel-btn{

  flex:1;

  height:48px;

  border:none;

  border-radius:14px;

  cursor:pointer;

  font-weight:600;
}

.save-btn{

  background:
  linear-gradient(
  135deg,
  #ffb347,
  #ff9100);

  color:black;
}

.cancel-btn{

  background:#1a1a1a;

  color:white;
}
















.edit-box input[type="file"]{

  width:100%;

  padding:14px;

  margin-bottom:15px;

  background:#111;

  border:1px solid rgba(255,180,70,0.25);

  border-radius:14px;

  color:white;

  cursor:pointer;
}






































































.verify-icon{
  transition:0.4s;
}

/* BEFORE VERIFIED */

.unverified{
  color:#5e5e5e;

  opacity:0.9;

  filter:grayscale(100%);

  text-shadow:none;
}

/* AFTER VERIFIED */

.verified{

  color:#ffbf47;

  opacity:1;

  filter:none;

  text-shadow:
  0 0 10px rgba(255,191,71,0.8),
  0 0 25px rgba(255,170,0,0.7),
  0 0 45px rgba(255,140,0,0.6);

  animation:verifyGlow 2s infinite alternate;
}

@keyframes verifyGlow{

  from{
    transform:scale(1);
  }

  to{
    transform:scale(1.08);
  }
}















































.verify-wrapper{
  position:relative;

  display:flex;
  align-items:center;
}

/* POPUP */

.verify-popup{

  position:absolute;

  top:40px;
  left:50%;

  transform:
  translateX(-50%);
margin-top: -60px;
  min-width:240px;

  padding:14px;

  border-radius:16px;

  background:#0b0b0b;

  border:1px solid rgba(255,180,70,0.25);

  box-shadow:
  0 0 20px rgba(255,170,0,0.18);

  opacity:0;

  visibility:hidden;

  transition:0.3s;

  z-index:100;
}

.verify-popup h4{

  color:#ffcc66;

  margin-bottom:10px;

  font-size:15px;
}

.verify-popup p{

  color:#d0d0d0;

  font-size:13px;

  margin-top:6px;
}

/* SHOW ON HOVER */

.verify-wrapper:hover .verify-popup{

  opacity:1;

  visibility:visible;
}























































.copy-toast{

  position:fixed;

  top:30px;
  right:30px;

  padding:14px 22px;

  border-radius:14px;

  background:#111;

  border:1px solid #ffb347;

  color:#ffcc66;

  font-weight:bold;

  z-index:99999;

  box-shadow:
  0 0 20px rgba(255,170,0,0.25);
}


























































/* SHARE MODAL */

.share-modal{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(8px);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:9999;
}

.share-box{
  width:380px;

  background:#111;

  border:1px solid rgba(255,180,70,.4);

  border-radius:24px;

  padding:28px;

  box-shadow:
  0 0 30px rgba(255,180,0,.25);
}

.share-box h2{
  text-align:center;
  color:#f5c16c;
  margin-bottom:20px;
}

.share-grid{
  display:grid;

  grid-template-columns:
  repeat(2,1fr);

  gap:14px;
}

.share-btn{
  width:100%;

  padding:14px;

  border:none;

  border-radius:16px;

  background:
  rgba(255,180,0,.08);

  color:#f5c16c;

  display:flex;

  flex-direction:column;

  align-items:center;

  gap:8px;

  cursor:pointer;

  transition:.3s;
}

.share-btn:hover{
  transform:translateY(-2px);

  background:
  rgba(255,180,0,.15);

  box-shadow:
  0 0 16px rgba(255,180,0,.25);
}

.close-share{
  width:100%;
  margin-top:18px;

  padding:12px;

  border:none;

  border-radius:14px;

  background:#1c1c1c;

  color:white;

  cursor:pointer;
}







































.social-link{
  text-decoration: none;
  color: #f5f5f5;
}

.social-link:visited{
  color: #f5f5f5;
}

.social-link:hover{
  color: #f5c16c;
}

































































.detail-box{

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  gap:14px;

  padding:30px;

  border-radius:20px;

  background:
  rgba(255,180,0,.05);

  border:
  1px solid rgba(255,180,0,.15);

  color:white;

  text-align:center;
}

.detail-box svg{

  color:#ffbf47;
}

.detail-box h3{

  font-size:22px;

  color:#ffd27a;
}

.detail-box p{

  color:#bdbdbd;
}

.detail-box span{

  color:#ffbf47;

  font-weight:bold;

  font-size:18px;
}



































.popup-activity-item{
  cursor:pointer;
}


























































.new-activity{

  border:1px solid rgba(255,190,70,0.4);

  background:
  rgba(255,170,0,0.06);

  box-shadow:
  0 0 18px rgba(255,170,0,0.12);

}

.read-activity{

  opacity:0.55;

  filter:grayscale(40%);

  background:
  rgba(255,255,255,0.02);

  border:1px solid rgba(255,255,255,0.05);

}